* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Circe';
    outline: none;
    color: #fff;
    background: #3a4258;
}

button {
    border: none;
    cursor: pointer;
}

a {
    cursor: pointer;
}

header {
    height: 100vh;
    background: url(../skeleton/img/bg1.png) no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px 8%;
}

.two-column-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.two-column-line .left-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-side .course {
    margin: 0 30px 0 30px;
}

.left-side .percentage {
    border: 1px solid #fff;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: .85rem;
    color: #eb5a63;
    background-color: #fff;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: .82rem;
    margin-right: 20px;
}

.one-column {
    text-align: center;
    margin-top: 25vh;
}

.one-column h2 {
    font-size: 2.6rem;
    text-transform: uppercase;
}

.start-earning {
    margin-top: 18px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    background-color: #a3cd8c;
    text-transform: uppercase;
    width: 380px;
    height: 80px;
    border-radius: 40px;
}

main {
    margin: 5px 0;
    position: relative;
    background: linear-gradient(#38445e, #49617c 25.6%, #434e6c 69.5%, #373f55 100%);
}

main::before,
.contact-us::after,
.contact-us::before {
    display: block;
    content: "";
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #a3cd8c 25%, #7da3d7);
    position: absolute;
    left: 0;
}

main::before,
.contact-us::before {
    top: -5px;
}


.contact-us::after {
    bottom: -5px;
}

section {
    padding: 65px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #4f647c;
}

.section-text-column {
    width: 40vw;
}

.section-img-column {
    width: 44vw;
}

.reliability .section-img-column {
    margin-left: 8vw;
}

.section-img-column img {
    width: 100%;
}

.section-heading {
    font-size: 1.9rem;
    font-weight: bold;
    text-transform: uppercase;
}

.text {
    color: #9fa7b3;
    font-size: 0.85rem;
    margin: 0;
}

.section-button {
    color: #a3cd8c;
    border: 2px solid #a3cd8c;
    position: relative;
    height: 50px;
    padding: 0 35px 0 25px;
    background-color: transparent;
    border-radius: 20px;
    margin-top: 40px;
}

.section-button::after {
    content: "";
    display: block;
    border-top: 2px solid #a3cd8c;
    border-right: 2px solid #a3cd8c;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    position: absolute;
    top: 17px;
    right: 14px;
}

.section-button:hover {
    cursor: pointer;
}

.section-item {
    text-align: center;
    padding: 0 2%;
}

.section-item-heading {
    font-size: 1.05rem;
    margin: 40px 0 10px;
    text-transform: uppercase;
}

.loyal-conditions .section-button {
    padding: 0 43px 0 33px;
}

.loyal-conditions .section-button {
    margin-top: 50px;
}

.loyal-conditions img {
    width: 70%;
}

.transactions-and-news h6,
.transactions-and-news table,
.transactions-and-news span {
    font-size: .9rem;
}

table {
    border-collapse: collapse;
    font-size: .8rem;
}

td {
    border: 1px solid #4c546b;
    vertical-align: middle;
    text-align: center;
    padding: 15px 15px;
    font-weight: bold;
}

tr td:first-child {
    color: #699fd7;
}

tr td:nth-child(2) {
    color: #bbb;
}

tr td:last-child {
    color: #61ba86;
}

.transactions-and-news {
    align-items: flex-start;
}

.transactions-and-news .right-column {
    margin-left: 5vw;
}

.transactions-and-news .news-item {
    margin-bottom: 10px;
}

.transactions-and-news h6 {
    margin: 0;
}

.transactions-and-news span {
    color: #bbb;
    font-weight: bold;
    font-size: .8rem;
}

.contact-us {
    background: url("../skeleton/img/bg2.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
    height: 590px;
}

form {
    position: absolute;
    bottom: -65px;
    text-align: center;
    width: 630px;
    height: 550px;
    background: #fff;
    z-index: 1;
    padding: 52px 80px;
    border-radius: 0 0 3px 3px;
    position: relative;
}

form::before {
    display: block;
    content: "";
    background: url("../skeleton/img/ribbon.png") repeat-x;
    height: 10px;
    position: absolute;
    width: 100%;
    top: -10px;
    left: 0;
}

form h4.section-heading {
    color: #4a4a4a;
    font-weight: bold;
    font-size: 2.2rem;
    margin: 0 auto 35px;
}

input,
textarea {
    border: none;
}

input[type="text"],
input[type="email"],
textarea {
    background-color: #f4f7fb;
    margin-bottom: 24px;
    padding: 0 10px;
    width: 100%;
}

input[type="text"],
input[type="email"] {
    height: 40px;
}

textarea {
    resize: none;
    padding-top: 10px;
    height: 140px;
}

input,
textarea {
    font-family: 'Circe';
    color: #4a4a4a;
    font-size: .85rem;
}

 ::placeholder {
    font-family: 'Circe';
    color: #bbb;
    text-transform: uppercase;
    font-size: .75rem;
}

input[type="submit"] {
    text-transform: uppercase;
    color: #fff;
    background-color: #7da3d7;
    height: 60px;
    font-weight: bold;
    font-size: .85rem;
    cursor: pointer;
    border-radius: 3px;
    width: 100%;
}
/*        footer,*/

section.crypto-stable {
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 0px 0 75px;
    background: #3a4258;
    /*            height: 488px;*/
}

section.crypto-stable .one-column {
    margin: 0;
    padding: 125px 0 75px;
}

footer {
    padding: 5px 100px;
}

button:hover,
input[type="submit"] {
    opacity: 0.9;
}

button,
input[type="submit"]:hover {
    opacity: 1;
}

.nav-small-display,
.nav-button {
    display: none;
}